:root {
    --selected-icon-bg-color: #dfdfdf;
}

body {
    position: relative;
    margin: 0px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica,
        Arial, sans-serif;
    background-color: #fafafa;
}

#whiteboardContainer {
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    margin-left: 80px !important;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px #dfdcdb;
}

.toolbar {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 50px;
    background-color: #ffffff;
    box-shadow: 1px 1px 6px #dfdcdb;
}

.btn-group button {
    background: transparent;
    border: 0px solid #eee;
    margin: -1px;
    /* Green border */
    color: #15325f;
    /* White text */
    padding: 11px 14px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
    font-size: 1em;
    height: 38px;
    width: 50px;
}

button::-moz-focus-inner {
    border: 0;
}

.whiteboard-edit-group.group-disabled {
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 166, 0, 0.366),
        rgba(255, 166, 0, 0.366) 10px,
        rgba(255, 166, 0, 0.666) 10px,
        rgba(255, 166, 0, 0.666) 20px
    );
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;
}

/*
 * Deactivate all pointer events on all the children
 * of a group when it's disabled.
 */
.whiteboard-edit-group.group-disabled > * {
    pointer-events: none;
}

/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */

.btn-group button:hover {
    background-color: #e0e0e0;
}

button {
    outline-width: 0;
}

.btn-group {
    background-color: #ffffff;
    float: left;
    position: relative;
}

.whiteboard-tool.active:not(:disabled) {
    background: var(--selected-icon-bg-color);
}

#whiteboardThicknessSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    background: transparent;
    outline: none;
    opacity: 1;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.textBox.active {
    border: 2px dotted black;
}

.textBox > .removeIcon,
.textBox > .moveIcon {
    display: none;
}

.textBox.active > .removeIcon,
.textBox.active > .moveIcon {
    display: block;
}

.modalBtn {
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    min-width: 50px;
    cursor: pointer;
}

#displayWhiteboardInfoBtn.active {
    background: var(--selected-icon-bg-color);
}

#whiteboardInfoContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.icons_container_3 {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px #dfdcdb;
    left: 55px;
    width: 150px;
    padding: 4px;
}

.icons_container_2 {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px #dfdcdb;
    left: 55px;
    width: 100px;
    padding: 4px;
}

.sizeContainer {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px #dfdcdb;
    left: 55px;
}

.sizeContainer button {
    background: transparent;
    border: 0px solid #eee;
    margin: -1px;
    /* Green border */
    color: #15325f;
    /* White text */
    padding: 11px 14px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
    font-size: 1em;
    height: 45px;
    width: 50px;
}

.displayNone {
    display: none;
}

#shareWhiteboardDialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.35);
    z-index: 10000000000000;
    position: absolute;
    top: 0;
    left: 0;
}

#shareWhiteboardDialogMessage {
    background-color: lightgreen;
    padding: 20px;
    font-weight: bold;
}

.shareWhiteboardDialogContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.shareWhiteboardDialogItem {
    padding: 5px;
    margin: 5px;
}
